---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, facilis?
    Tempora perspiciatis officia expedita quidem.
  </p>

  <ul>
    {
      allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)
    }
  </ul>
</BaseLayout>
