---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting.jsx'
const pageTitle = 'Home'
---
<BaseLayout pageTitle={pageTitle}>
	<p>My awesome blog caption</p>
	<Greeting client:load messages = {['Hej', 'Hi', 'Hello', 'Hallo']} />
</BaseLayout>